@import "globals.css";

html {
  background-color: var(--bg-light);
}

.app {
  margin: 1vw 1vw 0 1vw;
  padding: 20px;
}

h1 {
  font-size: 10vw;
  line-height: 11vw;
  font-family: 'Sporting Grotesque_Bold';
  color: var(--accent);
  margin: 0 auto;
}

h2 {
  font-size: 3vw;
  font-family: 'IBM_Plex_Sans_Light';
}

.bodyCopy {
  width: 70%;
  margin: 0;
}

p {
  font-size: 18px;
  font-family: 'IBM_Plex_Sans_Light';
  color: var(--text-light);
  margin: 0;
}

mark {
  background-color: var(--accent);
  color: var(--text-dark);
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 6px 0 0;
}

a {
  font-size: 18px;
  font-family: 'IBM_Plex_Sans_Light';
  color: var(--text-light);
}

a:hover {
  color: var(--accent);
}