@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Sporting Grotesque Bold';
    font-weight: bold;
    src:  url('./fonts/sporting_grotesque/bold/Sporting_Grotesque-Bold_web.woff') format('woff');
  }
  @font-face {
    font-family: 'IBM Plex Sans Light Italic';
    font-style: italic;
    src:    url('./fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans Light';
    src:    url('./fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf') format('truetype');
  }

  html {
    @apply bg-[#F4F8EE]
  }

  .view {
    @apply m-12
  }

  li {
    @apply inline mr-2
  }

  mark {
    @apply bg-[#3ED23B] bg-opacity-80
  }

  a {
    @apply text-base underline text-[#316334]
  }
  .title {
    @apply text-8xl font-display mt-28 mb-14 tracking-tighter
  }

  .intro {
    @apply text-4xl font-body border-b-2 border-black pb-8 mb-8
  }

  .navigation {
    @apply text-2xl
  }

  .heading2 {
    @apply text-5xl font-display tracking-tighter mt-48
  }

  .subtitle {
    @apply mb-60
  }

  .posts {
    @apply mb-8 flex
  }
  
  .hero {
    @apply w-1/2
  }

  p {
    @apply font-body
  }
}