@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Sporting Grotesque Bold';
    font-weight: bold;
    src:  url('./fonts/sporting_grotesque/bold/Sporting_Grotesque-Bold_web.woff') format('woff');
  }
  @font-face {
    font-family: 'IBM Plex Sans Light Italic';
    font-style: italic;
    src:    url('./fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'IBM Plex Sans Light';
    src:    url('./fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf') format('truetype');
  }

  body {
    @apply bg-[#F4F8EE] transition-colors duration-300
  }

  body.dark {
    @apply bg-[#011A00] transition-colors duration-300 subpixel-antialiased
  }

  .view {
    @apply m-12
  }

  .thumb {
    @apply absolute top-0.5 left-0.5 w-5 h-5 drop-shadow-lg bg-[#F4F8EE] rounded-full transition-all duration-300 box-border translate-x-0 text-base text-center
  }

  .track {
    @apply w-12 h-6 p-0 rounded-full bg-gray-400 transition-colors duration-300 shadow-inner drop-shadow-md
  }

  .thumb[slide='1']{
    @apply translate-x-6 bg-[#011A00]
  }

  .toggle {
    @apply inline-block relative cursor-pointer bg-transparent border-0 p-0 transition-colors duration-300
  }

  li {
    @apply inline mr-2 h-5 w-12
  }

  mark {
    @apply bg-[#3ED23B] bg-opacity-80 text-[#131313] dark:text-[#FDFDFD] dark:bg-[#316334]
  }

  p {
    @apply font-body text-[#131313] dark:text-[#FDFDFD] mb-4
  }

  a {
    @apply text-base underline text-[#316334] dark:text-[#3ED23B] h-5 w-12
  }

  .navigation {
    @apply text-2xl font-body tracking-tight 
  }

  .posts {
    @apply mb-8 flex
  }

}