/* wrappers burger */
.wrapper {
  width: 30px;
  height: 30px;
  z-index: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .toggle {
  z-index: 20;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
}

/* middle line and container */
.wrapper .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--body);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(--animation-speed);
}

/* top and bottom lines of hamburger */
.wrapper .hamburger > div::before,
.wrapper .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 10px;
  width: 100%;
  height: 2px;
  background: var(--body);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(--animation-speed);
}

/* moves line down */
.wrapper .hamburger > div::after {
  top: -10px;
}

/* Animate burger */
.wrapper .toggle:checked + .hamburger > div{
  transform: rotate(135deg);
}

/* Forms a cross with */
.wrapper .toggle:checked + .hamburger > div::after,
.wrapper .toggle:checked + .hamburger > div::before{
  top: 0px;
  transform: rotate(90deg);
}

/* Rotate on hover */
.wrapper .toggle:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}
